[Bb]in/
[Oo]bj/
out/
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json
appsettings.Local.json
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db